<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="index.css" />
    <title>Vidly API</title>
  </head>
  <body>
    <div id="titleContainer" class="container text-center">
      <h1 id="title" class="text-info">Vidly API</h1>
      <h3>Welcome to the online API for the Vidly Application</h3>
      <br /><br /><br />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <p id='text' class="text-justify ">
            This is a project done as part of the Node JS course by
            CodeWithMosh. It serves as a backend using mongoDB for a react
            project called Vidly, which will be also uploaded shortly.
            <br /><br />
            The course comprehensively teaches you how to write a clean and
            consisten node application, covering from the basics concepts such
            as the module system, the Node Package Manager, Express,
            Asynchronous JS, CRUD operations using Mongoose; up to advanced
            topics such as authorization and authentication, unit and
            integration testing, Test-Driven-Development, and deployment.
          </p>
        </div>
        <div class="col-sm-2">
          <div class="list-group">
            <a href='./api/genres' class="list-group-item text-center">Genres</a>
            <a href='./api/customers' class="list-group-item text-center">Customers</a>
            <a href='./api/movies' class="list-group-item text-center">Movies</a>
            <a href='./api/rentals' class="list-group-item text-center">Rentals</a>
            <a href='./api/returns' class="list-group-item text-center">Returns</a>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
